---
  Checks:          '-*,
                    clang-analyzer-cplusplus.*,
                    clang-analyzer-nullability.*,
                    clang-analyzer-core.*,
                    modernize-avoid-bind,
                    modernize-concat-nested-namespaces,
                    modernize-loop-convert,
                    modernize-make-shared,
                    modernize-make-unique,
                    modernize-pass-by-value,
                    modernize-use-auto,
                    modernize-use-default-member-init,
                    '
  CheckOptions:
    - key:          modernize-use-default-member-init.UseAssignment
      value:        1
  FormatStyle:      file
...
