---
  Checks:          '-*,
                    clang-analyzer-cplusplus.*,
                    clang-analyzer-nullability.*,
                    clang-analyzer-core.*,
                    modernize-avoid-bind,
                    modernize-concat-nested-namespaces,
                    modernize-loop-convert,
                    modernize-make-shared,
                    modernize-make-unique,
                    modernize-pass-by-value,
                    modernize-use-auto,
                    modernize-use-default-member-init,
                    modernize-use-emplace,
                    modernize-use-equals-default,
                    modernize-use-override,
                    modernize-use-using,
                    performance-for-range-copy,
                    performance-inefficient-algorithm,
                    performance-inefficient-vector-operation,
                    performance-trivially-destructible,
                    performance-move-const-arg,
                    performance-noexcept-move-constructor,
                    performance-unnecessary-copy-initialization,
                    performance-unnecessary-value-param,
                    readability-braces-around-statements,
                    #readability-container-size-empty,
                    readability-inconsistent-declaration-parameter-name,
                    '
  CheckOptions:
    - key:          modernize-use-default-member-init.UseAssignment
      value:        1
  FormatStyle:      file
...
