<?xml version="1.0" encoding="utf-8"?>
<resources>
    <integer name="versionCode">@svn.revision.base@</integer>
    <string name="versionName" translatable="false">r@svn.revision@</string>
</resources>
