/**
 *
 * @file
 *
 * @brief  ALSA subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <alsa/asoundlib.h>  // IWYU pragma: export
#include <alsa/pcm.h>        // IWYU pragma: export

#include <memory>

namespace Sound::Alsa
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::Alsa
