/*
Abstract:
  Alsa subsystem api gate interface

Last changed:
  $Id$

Author:
  (C) Vitamin/CAIG/2001
*/

#ifndef SOUND_BACKENDS_ALSA_API_H_DEFINED
#define SOUND_BACKENDS_ALSA_API_H_DEFINED

//platform-specific includes
#include <alsa/asoundlib.h>
#include <alsa/pcm.h>
//boost includes
#include <boost/shared_ptr.hpp>

namespace ZXTune
{
  namespace Sound
  {
    namespace Alsa
    {
<TMPL_INCLUDE NAME="api.h.templ">
    }
  }
}

#endif //SOUND_BACKENDS_ALSA_API_H_DEFINED
