      class Api
      {
      public:
        typedef boost::shared_ptr<Api> Ptr;
        virtual ~Api() {}

        <TMPL_LOOP NAME=FUNCTIONS>
        virtual <TMPL_VAR NAME=DECLARATION> = 0;</TMPL_LOOP>
      };

      //throw exception in case of error
      Api::Ptr LoadDynamicApi();
