    class Api
    {
    public:
      typedef std::shared_ptr<Api> Ptr;
      virtual ~Api() = default;

// clang-format off
<TMPL_LOOP NAME=FUNCTIONS>
      virtual <TMPL_VAR NAME=DECLARATION> = 0;</TMPL_LOOP>
// clang-format on
    };

    //throw exception in case of error
    Api::Ptr LoadDynamicApi();