/**
 *
 * @file
 *
 * @brief  DirectSound subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <memory>
#define NOMINMAX
#include <dsound.h>

namespace Sound::DirectSound
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::DirectSound
