/**
 *
 * @file
 *
 * @brief  DirectSound subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

// std includes
#include <memory>
// platform-dependent includes
#define NOMINMAX
#include <dsound.h>

namespace Sound
{
  namespace DirectSound
  {
<TMPL_INCLUDE NAME="api.h.templ">
  }
}  // namespace Sound
