/**
 *
 * @file
 *
 * @brief  FLAC subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <FLAC/metadata.h>        // IWYU pragma: export
#include <FLAC/stream_encoder.h>  // IWYU pragma: export

#include <memory>

namespace Sound::Flac
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::Flac
