/**
 *
 * @file
 *
 * @brief  MP3 subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <lame/lame.h>  // IWYU pragma: export

#include <memory>

namespace Sound::Mp3
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::Mp3
