/**
 *
 * @file
 *
 * @brief  OGG subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

// std includes
#include <memory>
// platform-specific includes
#include <ogg/ogg.h>

namespace Sound
{
  namespace Ogg
  {
<TMPL_INCLUDE NAME="api.h.templ">
  }
}  // namespace Sound
