/**
 *
 * @file
 *
 * @brief  OGG subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <ogg/ogg.h>  // IWYU pragma: export

#include <memory>

namespace Sound::Ogg
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::Ogg
