/**
 *
 * @file
 *
 * @brief  OpenAL subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <OpenAL/al.h>
#include <OpenAL/alc.h>

#include <memory>

namespace Sound::OpenAl
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::OpenAl
