/**
 *
 * @file
 *
 * @brief  PulseAudio subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

// std includes
#include <memory>
// platform-dependent includes
#include <pulse/simple.h>

namespace Sound::PulseAudio
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::PulseAudio
