/**
 *
 * @file
 *
 * @brief  PulseAudio subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <pulse/simple.h>  // IWYU pragma: export

#include <memory>

namespace Sound::PulseAudio
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::PulseAudio
