/**
 *
 * @file
 *
 * @brief  SDL subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <SDL/SDL.h>  // IWYU pragma: export

#include <memory>

namespace Sound::Sdl
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::Sdl
