/**
*
* @file
*
* @brief  SDL subsystem API gate interface
*
* @author vitamin.caig@gmail.com
*
**/

#pragma once

//platform-dependent includes
#include <SDL/SDL.h>
//boost includes
#include <boost/shared_ptr.hpp>

namespace Sound
{
  namespace Sdl
  {
<TMPL_INCLUDE NAME="api.h.templ">
  }
}
