/**
*
* @file
*
* @brief  VorbisEnc subsystem API gate interface
*
* @author vitamin.caig@gmail.com
*
**/

#pragma once

//platform-specific includes
#include <vorbis/vorbisenc.h>
//boost includes
#include <boost/shared_ptr.hpp>

namespace Sound
{
  namespace VorbisEnc
  {
<TMPL_INCLUDE NAME="api.h.templ">
  }
}
