/**
 *
 * @file
 *
 * @brief  VorbisEnc subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <vorbis/vorbisenc.h>

#include <memory>

namespace Sound::VorbisEnc
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::VorbisEnc
