/**
 *
 * @file
 *
 * @brief  Vorbis subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

// std includes
#include <memory>
// platform-specific includes
#include <vorbis/codec.h>

namespace Sound::Vorbis
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::Vorbis
