/**
 *
 * @file
 *
 * @brief  Vorbis subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <vorbis/codec.h>

#include <memory>

namespace Sound::Vorbis
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::Vorbis
