/**
 *
 * @file
 *
 * @brief  Win32 subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <windows.h>

#include <memory>

namespace Sound::Win32
{
<TMPL_INCLUDE NAME="api.h.templ">
}  // namespace Sound::Win32
