/**
 *
 * @file
 *
 * @brief  Win32 subsystem API gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

// std includes
#include <memory>
// platform-dependent includes
#include <windows.h>

namespace Sound
{
  namespace Win32
  {
<TMPL_INCLUDE NAME="api.h.templ">
  }
}  // namespace Sound
