/**
*
* @file
*
* @brief  Win32 subsystem API gate interface
*
* @author vitamin.caig@gmail.com
*
**/

#pragma once

//platform-dependent includes
#include <windows.h>
//boost includes
#include <boost/shared_ptr.hpp>

namespace Sound
{
  namespace Win32
  {
<TMPL_INCLUDE NAME="api.h.templ">
  }
}
