/**
 *
 * @file
 *
 * @brief  Curl api gate interface
 *
 * @author vitamin.caig@gmail.com
 *
 **/

#pragma once

#include <3rdparty/curl/curl.h>
#include <3rdparty/curl/easy.h>

#include <memory>

namespace IO::Curl
{
<TMPL_INCLUDE NAME="../../../sound/backends/templates/api.h.templ">
}  // namespace IO::Curl
