/**
*
* @file
*
* @brief  Curl api gate interface
*
* @author vitamin.caig@gmail.com
*
**/

#pragma once

//platform-specific includes
#include <3rdparty/curl/curl.h>
#include <3rdparty/curl/easy.h>
//boost includes
#include <boost/shared_ptr.hpp>

namespace IO
{
  namespace Curl
  {
<TMPL_INCLUDE NAME="../../../sound/backends/templates/api.h.templ">
  }
}
